[package]
name = "os"
version = "0.1.0"
edition = "2021"

[dependencies]

# 明确声明为 binary crate
[[bin]]
name = "os"
path = "src/main.rs"

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
